<a href="https://colab.research.google.com/github/printInam/DataScience/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print('your name is ' + name + ' and your age is ' + age)

What is your name? Inam
What is your age? 22
your name is Inam and your age is 22

In [ ]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54

if(a == b):
  print ( "these numbers are equal")
elif (a!=b):
  print ( ' these are not equal numbers')

 these are not equal numbers

In [8]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54

if( a > b):
  print( 'A is greater than B')
elif ( a < b):
  print( ' A is less than B')
elif (a==b):
  print('A is equal to B')

 A is less than B

In [ ]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(6):
  print (k)

0
1
2
3
4
5

In [ ]:

#Q5-Using while loop, print 5,4,3,2,1
for k in range(5,0,-1):
 print(k)

5
4
3
2
1

In [ ]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.

for k in range(10,-1,-2):
 if(k!=8):
  print(k)

10
6
4
2
0

In [ ]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
def addition( x,y):
  return (x-y)
addition (2022,1944)

78

In [ ]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y
  def substraction(x,y):
    return x-y
  def multiplication(x,y):
    return x*y
  def division(x,y):
    return x/y

print(arithmetic.addition(3,4))
print(arithmetic.substraction(3,4))
print(arithmetic.multiplication(3,4))
print(arithmetic.division(3,4))

7
-1
12
0.75

In [4]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)

a = int(input('PUT THE NUMBER'))
b=4
for n in range(1, a+1,1):
  b=b+n
print(b)

PUT THE NUMBER1
5

In [7]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 
import random
randomlist =[]
for b in range (10):
  n = random.uniform(0,1)
  randomlist.append(n)
print(randomlist[0:3])

[0.8908963880375239, 0.20045458811529016, 0.18763729016655473]

In [11]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15
for a in range(1,n+1,1):
  if (a%3==0):
    print(a)

3
6
9
12
15